* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.content{
    display: flex;
    margin: 35px auto;
    width: 70%;
    justify-items: center;
}

.image-left img {
    width: 90%;
    position: relative;
    height: 330px;
}

.image-left {
    width: 384px;
}

.content-right {
    width: 50%;
    margin-left: 15px;
    align-self: center;
}

.content-right>p {
    padding-bottom: 13px;
}

.content-right h5 {
    position: relative;
}

.content-right h2 {
    padding-bottom: 20px;
}

#last-p {
    padding-bottom: 32px;
}

.content-right h5{
    padding-left: 185px;
    color: orangered;
}

.light {
    color: gray;
}

.fa-chevron-right {
    margin-left: 5px;
}